@model IEnumerable<BookShop.Entities.Models.Category>
@{
    ViewData["Title"] = "Category List";
    Layout = "_Layout";
}

<h2 class="mb-3">Categories</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Create New Category</a>
</p>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Category Name</th>
            <th>Category Order</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CatName</td>
                <td>@item.CatOrder</td>
                <td>@(!item.MarkedAsDeleted ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a href="javascript:void(0)" onclick="confirmDelete('@Url.Action("Delete", new { id = item.Id })')" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
